@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
}

body {
    background: #222;
    margin-top: 1.5%;
}

.allContent > h2 {
    text-align: center;
    margin-bottom: 0.9rem;
    color: rgba(245, 245, 220, 0.648);
}

#main-container {
    display: flex;
    justify-content: center;
}

form {
    background-color: #11111144;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #08c5fa25;
    margin-bottom: 30px;
}

input {
    display: block;
    margin-bottom: 0.3rem;
}

input[type="text"] {
    background-color: rgba(245, 245, 245, 0.167);
    color: #ffffffbb;
    padding: 0.3rem 0.5rem;
    width: 15.625rem;
    font-weight: 500;
    border: none;
    border-radius: 3px;
}

input[type=text]:focus {
    outline: none;
    border: 2px solid rgba(49, 171, 223, 0.226);
    box-shadow: 0 0 8px rgba(49, 171, 223, 0.632);
}

::placeholder {
    color: #ffffff72;
    opacity: 1; 
}

.btn {
    background-color: rgba(245, 245, 245, 0.555);
    color: #ffffffbb;
    width: 200px;
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 4px;
    margin-left: 10%;
    margin-top: 0.5rem;
    cursor: pointer;
}



/* Autofill bg color set */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #4a4a4a inset !important; 
     
    -webkit-text-fill-color: #ffffffbb !important; 
    
    transition: background-color 5000s ease-in-out 0s;
}


/* Card Design */
.card-container {
    display: flex;
    justify-content: center;
}

.card {
    background-color: #11111196;
    padding: 2rem;
    width: 26rem;
    min-height: 13rem;
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 10px #000000a3;
    border: 1.5px solid rgba(255, 255, 255, 0.192);
    position: relative;
}

.img-div {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.img-div img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card h3 {
    font-size: 1.4rem;
    margin-top: 0.5rem;
}

.card h4 {
    font-size: 1rem;
    margin-block: 0.2rem;
}

.card p {
    font-size: 1rem;
    max-width: 100%;
    overflow-wrap: break-word
}

.iconDiv {
    width: 30px;
    height: 30px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    opacity: 0.7;
}
.fa-solid {
    opacity: 0.4;
}

.fa-solid:hover,
.fa-solid:focus
{
    opacity: 0.7;
}

.iconDiv:focus,
.iconDiv:hover {
    opacity: 1;
}
